[submodule "external/workflow"]
	path = external/workflow
	url = https://github.com/sogou/workflow
[submodule "thirdparty/uvw"]
	path = thirdparty/uvw
	url = https://github.com/skypjack/uvw
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/flecs"]
	path = thirdparty/flecs
	url = https://github.com/SanderMertens/flecs/
